
@model RemoveElasticBaseProfile;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>

        .form-control {
            width: 25%;
        }

        .field-validation-valid {
            display: none;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("RemoveElasticBaseProfile", "BulkUpdate"))
    {
        <h3><strong>Remove Elastic BaseProfile For Entity</strong></h3>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.EntityId)
            @Html.TextBoxFor(m => m.EntityId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EntityId, "Invalid EntityId", new { @class = "text-danger" })
        </div>

        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>

        @if (Model != null && !string.IsNullOrEmpty(Model.Message))
        {
            <span id="message">@Html.DisplayFor(m => m.Message)</span>
        }
    }
</body>
</html>
